<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>四川省青少年校园足球信息网</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="${base_path}/resources/css/index/in.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--头部-->
<div class="main">
    <div class="header">
        <div class="brown1">
            <img src="img/logo7.png">
            <p>四川省青少年校园足球信息网</p>
        </div>
        <div id="menu" class="orange1">
            <p>关于印发修订《企业会计准则第16号 ——政府补助》的通知</p>
        </div>
        <div class="content">
            <div class="content_main">
                <p align="center">财会〔2017〕15号</p>
                <p>国务院有关部委、有关直属机构，各省、自治区、直辖市、计划单列市财政厅（局），新疆生产建设兵团财务局，财政部驻各省、自治区、直辖市、计划单列市财政监察专员办事处，有关中央管理企业：</p>
                <p>为了适应社会主义市场经济发展需要，规范政府补助的会计处理，提高会计信息质量，根据《企业会计准则——基本准则》，我部对《企业会计准则第16号——政府补助》进行了修订，现予印发，在所有执行企业会计准则的企业范围内施行。</p>
                <p>执行中有何问题，请及时反馈我部。</p>
                <p>附件：《企业会计准则第16号——政府补助》</p>
                <p align="right">财政部</p>
                <p align="right">2017年5月10日</p>
                <p>附件下载:&nbsp;<a href="#">《企业会计准则第16号——政府补助》.pdf</a></p>
            </div>
        </div>
    </div>
    <!--头部 end-->
    <!--尾部-->
    <div class="footer">
        <div class="brown3">
            <ul class="select">
                <li>
                    <select onchange="eval(this.value);">
                        <option value="void(0)">---市州教育行政部门---</option>
                        <option value="window.open(&#39;http://www.cdedu.gov.cn/&#39;,&#39;_blank&#39;);">成都市教育局</option>
                        <option value="window.open(&#39;http://www.my-edu.net/&#39;,&#39;_blank&#39;);">绵阳市教育局</option>
                        <option value="window.open(&#39;http://www.dy-edu.cn/&#39;,&#39;_blank&#39;);">德阳市教育局</option>
                        <option value="window.open(&#39;http://www.sczgjy.gov.cn/&#39;,&#39;_blank&#39;);">自贡市教育局 </option>
                        <option value="window.open(&#39;http://www.pzhedu.cn/&#39;,&#39;_blank&#39;);">攀枝花市教育局</option>
                        <option value="window.open(&#39;http://www.sclzjy.gov.cn&#39;,&#39;_blank&#39;);">泸州市教育局</option>
                        <option value="window.open(&#39;http://www.gyedu.gov.cn/&#39;,&#39;_blank&#39;);">广元市教育局</option>
                        <option value="window.open(&#39;http://www.snsedu.gov.cn/&#39;,&#39;_blank&#39;);">遂宁市教育局</option>
                        <option value="window.open(&#39;http://www.scnjedu.net/&#39;,&#39;_blank&#39;);">内江市教育局</option>
                        <option value="window.open(&#39;http://www.sclsedu.gov.cn/&#39;,&#39;_blank&#39;);">乐山市教育局</option>
                        <option value="window.open(&#39;http://www.zysjyj.com/&#39;,&#39;_blank&#39;);">资阳市教育局</option>
                        <option value="window.open(&#39;http://www.ybedu.gov.cn/html/&#39;,&#39;_blank&#39;);">宜宾市教育局</option>
                        <option value="window.open(&#39;http://www.ncedu.net.cn&#39;,&#39;_blank&#39;);">南充市教育局</option>
                        <option value="window.open(&#39;http://www.yaei.gov.cn&#39;,&#39;_blank&#39;);">雅安市教育局</option>
                        <option value="window.open(&#39;http://www.gaedu.gov.cn/&#39;,&#39;_blank&#39;);">广安市教育局</option>
                        <option value="window.open(&#39;http://www.bzedu.com.cn/&#39;,&#39;_blank&#39;);">巴中市教育局</option>
                        <option value="window.open(&#39;http://www.msedu.cn&#39;,&#39;_blank&#39;);">眉山市教育体育局</option>
                        <option value="window.open(&#39;http://www.abedu.gov.cn/&#39;,&#39;_blank&#39;);">阿坝州教育局</option>
                        <option value="window.open(&#39;http://www.lszedu.cn/&#39;,&#39;_blank&#39;);">凉山彝族自治州教育局</option>
                        <option value="window.open(&#39;http://www.dzei.net/&#39;,&#39;_blank&#39;);">达州市教育局</option>
                        <option value="window.open(&#39;http://www.gzzedu.gov.cn/f&#39;,&#39;_blank&#39;);">甘孜州教育局</option>
                    </select>
                </li>
                <li>
                    <select onchange="eval(this.value);">
                        <option value="void(0)">---省内各高校---</option>
                        <option value="window.open(&#39;http://www.scu.edu.cn/&#39;,&#39;_blank&#39;);">四川大学</option>
                        <option value="window.open(&#39;http://www.uestc.edu.cn/&#39;,&#39;_blank&#39;);">电子科技大学</option>
                        <option value="window.open(&#39;http://www.swjtu.edu.cn/&#39;,&#39;_blank&#39;);">西南交通大学</option>
                        <option value="window.open(&#39;http://www.swufe.edu.cn/&#39;,&#39;_blank&#39;);">西南财经大学</option>
                        <option value="window.open(&#39;http://www.sicau.edu.cn/&#39;,&#39;_blank&#39;);">四川农业大学</option>
                        <option value="window.open(&#39;http://www.swun.edu.cn/&#39;,&#39;_blank&#39;);">西南民族大学</option>
                        <option value="window.open(&#39;http://www.cdut.edu.cn/&#39;,&#39;_blank&#39;);">成都理工大学</option>
                        <option value="window.open(&#39;http://www.swust.edu.cn/&#39;,&#39;_blank&#39;);">西南科技大学</option>
                        <option value="window.open(&#39;http://www.xhu.edu.cn/&#39;,&#39;_blank&#39;);">西华大学</option>
                        <option value="window.open(&#39;http://www.cdutcm.edu.cn/&#39;,&#39;_blank&#39;);">成都中医药大学</option>
                        <option value="window.open(&#39;http://www.sicnu.edu.cn/&#39;,&#39;_blank&#39;);">四川师范大学</option>
                        <option value="window.open(&#39;http://www.cwnu.edu.cn/&#39;,&#39;_blank&#39;);">西华师范大学</option>
                        <option value="window.open(&#39;http://www.swpu.edu.cn/&#39;,&#39;_blank&#39;);">西南石油大学</option>
                        <option value="window.open(&#39;http://www.cuit.edu.cn/&#39;,&#39;_blank&#39;);">成都信息工程大学</option>
                        <option value="window.open(&#39;http://www.suse.edu.cn/&#39;,&#39;_blank&#39;);">四川理工学院</option>
                        <option value="window.open(&#39;http://www.nsu.edu.cn/&#39;,&#39;_blank&#39;);">成都东软学院</option>
                        <option value="window.open(&#39;/p/0/?StId=st_app_news_i_x635771347723431049&#39;,&#39;_blank&#39;);">更多．．．</option>
                    </select>
                </li>
                <li>
                    <select onchange="eval(this.value);">
                        <option value="void(0)">---直属单位网站---</option>
                        <option value="window.open(&#39;http://www.sceea.cn/&#39;,&#39;_blank&#39;);">四川省教育考试院</option>
                        <option value="window.open(&#39;http://www.scjks.net/&#39;,&#39;_blank&#39;);">四川省教育科学研究所</option>
                        <option value="window.open(&#39;http://www.scjyzb.net/&#39;,&#39;_blank&#39;);">四川教育装备网</option>
                        <option value="window.open(&#39;http://www.scyxhq.com/&#39;,&#39;_blank&#39;);">学校后勤与产业网</option>
                        <option value="window.open(&#39;http://www.scdjg.com.cn/&#39;,&#39;_blank&#39;);">四川省电教馆</option>
                        <option value="window.open(&#39;http://www.cdxzzx.com/&#39;,&#39;_blank&#39;);">四川省成都西藏中学</option>
                        <option value="window.open(&#39;http://www.ntjx.org/&#39;,&#39;_blank&#39;);">内江铁路机械学校</option>
                        <option value="window.open(&#39;http://www.scxszz.cn/&#39;,&#39;_blank&#39;);">四川学生资助网</option>
                        <option value="window.open(&#39;http://jyzdzx.scedu.net/&#39;,&#39;_blank&#39;);">四川省大学生就业创业服务网</option>
                        <option value="window.open(&#39;http://psc.scedu.net/&#39;,&#39;_blank&#39;);">四川省普通话水平测试中心</option>
                    </select>
                </li>
                <li>
                    <select onchange="eval(this.value);">
                        <option value="void(0)">---其他教育网站---</option>
                        <option value="window.open(&#39;http://www.jyb.cn/&#39;,&#39;_blank&#39;);">中国教育新闻网</option>
                        <option value="window.open(&#39;http://www.ict.edu.cn/&#39;,&#39;_blank&#39;);">中国教育信息化网</option>
                        <option value="window.open(&#39;http://www.qspfw.edu.cn/&#39;,&#39;_blank&#39;);">教育部全国青少年普法网</option>
                        <option value="window.open(&#39;http://www.scedu.com.cn/&#39;,&#39;_blank&#39;);">四川省教育资源公共服务平台</option>
                        <option value="window.open(&#39;http://www.scjyjc.com.cn/&#39;,&#39;_blank&#39;);">四川省基础教育监测评估中心</option>
                        <option value="window.open(&#39;http://www.scmbjy.net/&#39;,&#39;_blank&#39;);">四川民办教育网</option>
                    </select>
                </li>
            </ul>

            <div class="last">
                <p><span><a href="javascript:;">联系方式</a>&nbsp;|&nbsp;<a href="javascript:;">使用帮助</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>主办：四川省教育厅&nbsp;&nbsp;&nbsp;&nbsp;制作维护：成都东软学院</p>
                <p>投稿邮箱：高等院校:scgxxx@163.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市州区县: scjyxx@163.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基层学校: scpjxx@163.com</p>
            </div>
        </div>
        <div class="orange3"></div>
    </div>
    <!--尾部 end-->
</div>
</body>
</html>