<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.dao.sms.SMSDao">
	<select id="findUserMobile" resultType="Integer">
		SELECT COUNT(*) FROM ACCOUNT WHERE A_TYPE = #{type} AND A_PHONE = #{phone} AND A_STATUS = 1
	</select>
	<insert id="addSMSLog">
		INSERT INTO SMS_LOG(
			SMS_ACCOUNT ,
			SMS_MSG ,
			SMS_TIME ,
			SMS_RETURN,
			SMS_IP,
			SMS_TYPE,
			SMS_CREATE_BY,
			SMS_CREATE_DATE
		)
		VALUES(
			#{account},
			#{msg},
			NOW(),
			#{return},
			#{ip},
			#{type},
			#{createBy},
			NOW()
		)
	</insert>
	<select id="findPhoneByUsername" resultType="String">
		SELECT A_PHONE FROM ACCOUNT WHERE A_USERNAME=#{username} AND A_TYPE=#{type} limit 1
	</select>
</mapper> 