*{padding: 0;margin: 0;}
.pro-head{
    width: 100%;
    height: 135px;
    min-width: 900px;
    margin-bottom: 100px;
    background: #F5F5F5;
}

.pro-box,.pro-title>div{
    width: 900px;
    height: 34px;
    margin: 0px auto 0 auto;
}
.pro-title span:first-child{
    font-size: 1.4em;
    color: #FFF;
    line-height: 50px;
}
.pro-title span:last-child {
    font-size: 1.2em;
    font-weight: 100;
    border-left: 1px solid #9AFF9C;
    display: inline-block;
    margin: 0 0 0 10px;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #EFEFEF;
}
.pro-title{
    width: 100%;
    height: 50px;
    background: #24be62;
}
.process li{
    font-size: 20px;
    width: 276px;
    height: 34px;
    color: #FFF;
    list-style: none;
    float: left;
    margin: 15px auto;
}
.process li:last-child{
    width: 70px;
}
.process li div{
    width: 70px;
    height: 36px;
}
.process li p,
.process li i{
    font-style: normal;
    text-align: center;
    line-height: 28px;
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    font-family: "微软雅黑", "Microsoft YaHei", Arial, SimHei, sans-serif;
}
.process li p{
    width: 70px;
    font-size: 14px;
    color: #a5a5a5;
    font-weight: bold;
}
.process i:first-child{
    background: url("../../img/common/findPassword.png") -30px 0;
}
.process i:last-child{
    background: url("../../img/common/findPassword.png") -60px -17px;
    display: block;
    width: 220px;
    height: 2px;
    float: right;
    margin: -20px -5px 0 0;
}
.passed i:first-child,
.active i:first-child{
     background: url("../../img/common/findPassword.png") 0 0;
 }
.active i:last-child{
    background: url("../../img/common/findPassword.png") -60px -13px;
}
.passed i:last-child{
    background: url("../../img/common/findPassword.png") -60px -9px;
}
.pro1-main{
    width: 100%;
    height: 300px;
}
.pro1-content{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.pro-input{
    height: 60px;
    width: 264px;
    margin: 30px auto;
    position: relative;
}

.inputbox input{
    height: 40px;
    width: 264px;
    margin: 10px 0 0 0;
    border-radius: 2px;
    border: 1px solid #9aa0a7;
    line-height: 36px;
    text-indent: 10px;
    font-size: 14px;
    background-color: #fff;
    -webkit-transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
}

.inputbox input:focus {
    outline:none;
    border-color: #24be62 !important;
    box-shadow: 0 0 4px 0 #24be62 !important;
}
.inputbox  input.inputerror:focus{
    outline: none;
    border-color: #FF5B58 !important;
    box-shadow:0 0 4px 0 #FF8B7A !important;
}
.tips-error{
    text-align: left;
    position: absolute;
    top: 31px;
    left: 100%;
    margin-left: 10px;
    width: 251px;
    height: 40px;
    overflow: hidden;
    border: 1px solid #ffbbba;
    background-color: #ffefef;
}
.code-error{
    width: 100px;
}
.empty-error{
    width: 100px;
}
.tips-error>div {
    display: table-cell;
    vertical-align: middle;
    height: 34px;
    line-height: 2;
    font-size: 0;
}
.tips-error>div>span {
    display: inline-block;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    text-align: left;
    color: #ff0a0a;
}
.vercode,.vercode img{
    position: absolute;
    top: 17px;
    right: 0px;
    width: 120px;
    height: 39px;
    margin-top: 0.21px !important;
    float: right;
}
.pro-btn,.code-btn{
    width: 120px;
    height: 37px;
    text-decoration: none;
    line-height: 37px;
    text-align: center;
    display: block;
    border-radius: 2px;
    background-color: #24be62;
    color: #fff;
    box-shadow: 0 3px 0 #1c9e50;
    margin: 0px auto;
    -webkit-transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
}
.pro-btn:hover,.code-btn:hover{
	text-decoration:none;
	color:#FFF;
}
.pro-btn:focus{
    background-color: #1c9e50;
    box-shadow: 0 3px 0 #1c9e50;
}
.pro-select{
    width: 872px;
    margin: 0 auto;
    position:relative;
}
.select-title{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.message,.email{
    float: left;
    margin: 20px 10px 0 30px;
    width: 85px;
    text-align: center;
}
.message i,.email i{
    width: 51px;
    height: 50px;
    display: block;
    background: url("../../img/common/findPassword.png") 0px -28px ;
}
.email i{
    background: url("../../img/common/findPassword.png") -53px -28px ;
}
.list-item{
    position: relative;
    box-sizing: border-box;
    height: 88px;
    margin-bottom: 10px;
    border: 1px solid #ededed;
    border-radius: 2px;
    background-color: #fafafa;
    display: block;
}
.list-item:hover{
    border-color: #f4f4f4;
    background-color: #fdfdfd;
}
.list-item>a {
    display: block;
    height: 100%;
    text-decoration: none;
}
.item-text{
    float: left;
    margin-top: 20px;
}
.item-text>h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #4c4c4c;
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
}
.item-text>p {
    font-size: 12px;
    line-height: 20px;
    color: #a5a5a5;
}
.list-item span{
    position: absolute;
    top: 25px;
    right: 30px;
    width: 17px;
    height: 32px;
    background: url("../../img/common/findPassword.png") -104px -28px;
}
.pro-completed{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.completed—pic{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.error .completed—pic{
    background: url("../../img/common/findPassword.png") 0px -78px;
}
.success .completed—pic{
    background: url("../../img/common/findPassword.png") -150px -78px;
}
.pro-completed .completed-text {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.pro-completed .completed-tips {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 20px;
}
.main-message,.main-email,.email-titile,.message-title{
    width: 270px;
    padding-bottom: 10px;
    font-size: 16px;
    margin: 0 auto;
}
.main-message input,.main-email input{
    width: 120px;
    float: left;
}
.message_tips a{
    color: #00a0e9;
}
.code-btn{
    border:2px solid #24be62;
    color: #24be62;
    box-shadow: none;
    background: #FFF;
    margin: 10px;
    float: left;
    width:110px !important;
}
.code-btn:hover{
	background: #24be62 !important;
	color:#fff !important;
}