<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.dao.coach.CoachInfoDao">
	<!-- 通过手机号获取account中的a_id -->
	<select id="getCoachInfoBase" resultType="map">
		SELECT
		A_NAME,
		ACCOUNT.A_TYPE,
		ACCOUNT.A_ID,
		A_ID_CARD,
		COACH.COACH_ID,
		COACH_SEX,A_PHONE,
		COACH_JOB,COACH_EXP,
		COACH.COACH_PHOTO 
		FROM COACH JOIN ACCOUNT
		ON ACCOUNT.A_ID=COACH.A_ID WHERE COACH.COACH_ID=#{coachID,jdbcType=VARCHAR}
		and COACH.COACH_STATUS=1 
		AND ACCOUNT.A_STATUS=1 limit 1
	</select>
	<!-- 通过id查询积分信息 -->
	<select id="getCoachintegral" resultType="map">
		SELECT
		CS_PRCVINCE_WIN,
		CS_PRCVINCE_ALL,
		CS_PRCVINCE_LOSE,
		CS_CITY_WIN,
		CS_CITY_ALL,
		CS_CITY_LOSE
		CS_COUNTRY_WIN,
		CS_COUNTRY_ALL,
		CS_COUNTRY_LOSE,
		CS_SCHOOL_WIN,
		CS_SCHOOL_ALL,
		CS_SCHOOL_LOSS,
		CS_OTHER_WIN,
		CS_OTHER_LOSS,
		CS_OTHER_ALL
		FROM COACH_SCORE WHERE COACH_ID=#{coachID,jdbcType=VARCHAR} AND
		CS_STATUS=1 limit 1
	</select>
	<!-- 通过id查询省级比赛 -->
	<select id="getCoachProvinceMatch" resultType="map">
		SELECT RACE_DETAILS.R_NAME,
		COMPETITION_NOTICE.COM_NAME,
		RACE_DETAILS.R_REGION,
		RACE_DETAILS.R_START_TIME,
		RACE_DETAILS.R_END_TIME,
		RACE_DETAILS.R_H_TEAM_ID,
		RACE_DETAILS.R_V_TEAM_ID,
		RACE_DETAILS.R_WIN_STATUS,
		TEAM.TEAM_ID,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID ) AS H_TEAM_NAME,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID) AS V_TEAM_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS
		H_ORG_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE
		TEAM_ID=R_V_TEAM_ID) AS V_ORG_NAME
		FROM COMPETITION_NOTICE INNER JOIN RACE_DETAILS ON
		COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
		INNER JOIN MID_TEAM_RACE ON RACE_DETAILS.R_ID=MID_TEAM_RACE.R_ID
		INNER JOIN TEAM ON TEAM.TEAM_ID=MID_TEAM_RACE.TEAM_ID
		INNER JOIN MID_COACH_TEAM ON MID_COACH_TEAM.TEAM_ID=TEAM.TEAM_ID
		where MID_COACH_TEAM.COACH_ID=#{coachID,jdbcType=VARCHAR} AND
		COMPETITION_NOTICE.COM_LEVEL=1 and RACE_DETAILS.R_STATUS=2
		order by R_START_TIME
		desc limit 3
	</select>

	<!-- 通过id查询校级比赛 -->
	<select id="getCoachSchoolMatch" resultType="java.util.HashMap">
		SELECT
		RACE_DETAILS.R_NAME,
		COMPETITION_NOTICE.COM_NAME,
		RACE_DETAILS.R_REGION,
		RACE_DETAILS.R_START_TIME,
		RACE_DETAILS.R_END_TIME,
		RACE_DETAILS.R_H_TEAM_ID,
		RACE_DETAILS.R_V_TEAM_ID,
		RACE_DETAILS.R_WIN_STATUS,
		TEAM.TEAM_ID,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS H_TEAM_NAME,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID) AS V_TEAM_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS
		H_ORG_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE
		TEAM_ID=R_V_TEAM_ID) AS V_ORG_NAME
		FROM COMPETITION_NOTICE INNER JOIN RACE_DETAILS ON
		COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
		INNER JOIN MID_TEAM_RACE ON RACE_DETAILS.R_ID=MID_TEAM_RACE.R_ID
		INNER JOIN TEAM ON TEAM.TEAM_ID=MID_TEAM_RACE.TEAM_ID
		INNER JOIN MID_COACH_TEAM ON MID_COACH_TEAM.TEAM_ID=TEAM.TEAM_ID
		where MID_COACH_TEAM.COACH_ID=#{coachID,jdbcType=VARCHAR} AND
		COMPETITION_NOTICE.COM_LEVEL=4 and RACE_DETAILS.R_STATUS=2
		order by R_START_TIME
		
		desc limit 3
	</select>

	<!-- 通过id查询县级比赛 -->
	<select id="getCoachCountyMatch" resultType="map">
		SELECT RACE_DETAILS.R_NAME,
		COMPETITION_NOTICE.COM_NAME,
		RACE_DETAILS.R_REGION,
		RACE_DETAILS.R_START_TIME,
		RACE_DETAILS.R_END_TIME,
		RACE_DETAILS.R_H_TEAM_ID,
		RACE_DETAILS.R_V_TEAM_ID,
		RACE_DETAILS.R_WIN_STATUS,
		TEAM.TEAM_ID,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS H_TEAM_NAME,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID) AS V_TEAM_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS
		H_ORG_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE
		TEAM_ID=R_V_TEAM_ID) AS V_ORG_NAME
		FROM COMPETITION_NOTICE INNER JOIN RACE_DETAILS ON
		COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
		INNER JOIN MID_TEAM_RACE ON RACE_DETAILS.R_ID=MID_TEAM_RACE.R_ID
		INNER JOIN TEAM ON TEAM.TEAM_ID=MID_TEAM_RACE.TEAM_ID
		INNER JOIN MID_COACH_TEAM ON MID_COACH_TEAM.TEAM_ID=TEAM.TEAM_ID
		where MID_COACH_TEAM.COACH_ID=#{coachID,jdbcType=VARCHAR} AND
		COMPETITION_NOTICE.COM_LEVEL=3 and RACE_DETAILS.R_STATUS=2
		order by R_START_TIME
		desc limit 3
	</select>
	
	<!-- 通过id查询不限级别的比赛 -->
	<select id="getCoachOtherMatch" resultType="map">
		SELECT RACE_DETAILS.R_NAME,
		COMPETITION_NOTICE.COM_NAME,
		RACE_DETAILS.R_REGION,
		RACE_DETAILS.R_START_TIME,
		RACE_DETAILS.R_END_TIME,
		RACE_DETAILS.R_H_TEAM_ID,
		RACE_DETAILS.R_V_TEAM_ID,
		RACE_DETAILS.R_WIN_STATUS,
		TEAM.TEAM_ID,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS H_TEAM_NAME,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID) AS V_TEAM_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS
		H_ORG_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE
		TEAM_ID=R_V_TEAM_ID) AS V_ORG_NAME
		FROM COMPETITION_NOTICE INNER JOIN RACE_DETAILS ON
		COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
		INNER JOIN MID_TEAM_RACE ON RACE_DETAILS.R_ID=MID_TEAM_RACE.R_ID
		INNER JOIN TEAM ON TEAM.TEAM_ID=MID_TEAM_RACE.TEAM_ID
		INNER JOIN MID_COACH_TEAM ON MID_COACH_TEAM.TEAM_ID=TEAM.TEAM_ID
		where MID_COACH_TEAM.COACH_ID=#{coachID,jdbcType=VARCHAR} AND
		COMPETITION_NOTICE.COM_LEVEL=5 and RACE_DETAILS.R_STATUS=2
		order by R_START_TIME
		desc limit 3
	</select>

	<!-- 通过id查询市级比赛 -->
	<select id="getCoachCityMatch" resultType="map">
		SELECT RACE_DETAILS.R_NAME,
		COMPETITION_NOTICE.COM_NAME,
		RACE_DETAILS.R_REGION,
		RACE_DETAILS.R_START_TIME,
		RACE_DETAILS.R_END_TIME,
		RACE_DETAILS.R_H_TEAM_ID,
		RACE_DETAILS.R_V_TEAM_ID,
		RACE_DETAILS.R_WIN_STATUS,
		TEAM.TEAM_ID,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS H_TEAM_NAME,
		(SELECT TEAM_NAME FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID) AS V_TEAM_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID) AS
		H_ORG_NAME,
		(SELECT TEAM_AFFILIATION FROM TEAM WHERE
		TEAM_ID=R_V_TEAM_ID) AS V_ORG_NAME
		FROM COMPETITION_NOTICE INNER JOIN RACE_DETAILS ON
		COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
		INNER JOIN MID_TEAM_RACE ON RACE_DETAILS.R_ID=MID_TEAM_RACE.R_ID
		INNER JOIN TEAM ON TEAM.TEAM_ID=MID_TEAM_RACE.TEAM_ID
		INNER JOIN MID_COACH_TEAM ON MID_COACH_TEAM.TEAM_ID=TEAM.TEAM_ID
		where MID_COACH_TEAM.COACH_ID=#{coachID,jdbcType=VARCHAR} AND
		COMPETITION_NOTICE.COM_LEVEL=2 and RACE_DETAILS.R_STATUS=2
		order by R_START_TIME
		desc limit 3
	</select>

	<select id="getCoachEditInfo" resultType="map">
		SELECT
		A_NAME,COACH_BIRTHDAY,COACH_WEIGHT,COACH_HEIGHT,COACH_SEX,A_EMAIL
		,COACH.COACH_PHOTO,COACH.COACH_EXP
		 FROM ACCOUNT
		INNER JOIN COACH ON ACCOUNT.A_ID=COACH.A_ID WHERE COACH.COACH_ID=#{coachID}
		AND A_STATUS=1 AND A_TYPE=2
		limit 1
	</select>
	<select id="getEmailCode" resultType="String">
		SELECT A_EMAIL_CHECK_CODE from ACCOUNT WHERE A_ID=#{A_ID} limit 1;
	</select>

<select id="getWdpic" resultType="map">
		SELECT
			SAVE_PATH
		FROM 
			UPLOAD_FILES 
JOIN COACH on COACH.A_ID=UPLOAD_FILES.A_ID
		WHERE COACH.COACH_ID = #{coachID}
		ORDER BY UP_CREATE_DATE
		DESC LIMIT 3
	</select>

	<update id="saveCoachEditInfo" parameterType="com.nsu.bean.coach.CoachInfoBean">
		update
		COACH,ACCOUNT SET
		COACH_BIRTHDAY=#{coach.coachBirth,jdbcType=VARCHAR},
		COACH_WEIGHT=#{coach.coachWeight,jdbcType=NUMERIC,numericScale=1},
		COACH_HEIGHT=#{coach.coachHeight,jdbcType=NUMERIC,numericScale=1},
		COACH_SEX=#{coach.coachSex,jdbcType=VARCHAR},
		A_NAME=#{coach.coachName,jdbcType=VARCHAR},
		A_EMAIL=#{coach.coachEmail,jdbcType=VARCHAR},
		COACH_EXP=#{coach.coachExp,jdbcType=VARCHAR}
		WHERE
		COACH.A_id=ACCOUNT.A_ID AND COACH.COACH_ID=#{coach.coachID,jdbcType=VARCHAR}
		AND ACCOUNT.A_TYPE = 2 AND ACCOUNT.A_STATUS = 1 AND
		COACH.COACH_STATUS=1
	</update>

	<update id="headPicUpload">
		UPDATE COACH SET COACH_PHOTO =
		#{path,jdbcType=VARCHAR},COACH_OPER_DATE=SYSDATE() where COACH_ID =
		#{coachID,jdbcType=VARCHAR}
	</update>

	<update id="updateWonderfulPhoto">
		INSERT INTO UPLOAD_FILES
		(A_ID,SAVE_PATH,FILE_TYPE,UP_CREATE_DATE,UP_CREATE_BY,UP_OPER_DATE,UP_OPER_BY,UP_STATUS)
		VALUES
		(#{coachAccountID,jdbcType=VARCHAR},#{path,jdbcType=VARCHAR},0,SYSDATE(),#{coachAccountID,jdbcType=VARCHAR},SYSDATE(),#{coachAccountID,jdbcType=VARCHAR},1);
	</update>
	<update id="saveEmail">
		UPDATE ACCOUNT SET A_EMAIL_CHECK_CODE = #{A_EMAIL_CHECK_CODE,jdbcType=VARCHAR} WHERE A_ID = #{A_ID}
	</update>
</mapper> 