<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.dao.coach.CoachTeamDao">

	<!-- 获取教练所带的所有球队id -->
	<select id="getCoachTeams" resultType="java.util.HashMap">
		SELECT
		TEAM.TEAM_ID,TEAM.TEAM_NAME FROM TEAM WHERE TEAM.TEAM_ID IN( SELECT
		TEAM_ID FROM MID_COACH_TEAM WHERE COACH_ID = #{coachID} AND
		COACH_TEAM_STATSU=1)
	</select>
	<!-- 获得球队的所有教练 -->
	<select id="getTeamCoachs" resultType="java.util.HashMap">
			SELECT ACCOUNT.A_NAME FROM ACCOUNT WHERE A_ID IN (SELECT A_ID FROM COACH WHERE COACH.COACH_ID IN (SELECT COACH_ID FROM MID_COACH_TEAM WHERE TEAM_ID=#{teamID} AND COACH_TEAM_STATSU=1))
	
	</select>
	<select id="coachTeamDetail" resultType="map">
		Select

		TEAM_NAME,TEAM.TEAM_ID,
		TEAM_BADGE,
		TEAM_AFFILIATION,
		TEAM.TEAM_LEADER,
		TEAM.TEAM_NUM,
		(TS_SCHOOL_VICTOR+TS_SCHOOL_DRAW+TS_SCHOOL_LOSE+TS_COUNTRY_VICTOR+TS_COUNTRY_DRAW
		+TS_COUNTRY_LOSE+TS_CITY_VICTOR+TS_CITY_DRAW+TS_CITY_LOSE+TS_PROVINCE_VICTOR+TS_PROVINCE_DRAW+TS_PROVINCE_LOSE+TS_OTHER_WIN+TS_OTHER_LOSS+TS_OTHER_ALL
		) as MATCH_NUM,
		CONCAT(FORMAT(round((TS_SCHOOL_VICTOR+TS_COUNTRY_VICTOR+TS_CITY_VICTOR+TS_PROVINCE_VICTOR+TS_OTHER_WIN)
		/
		(TS_SCHOOL_VICTOR+TS_SCHOOL_DRAW+TS_SCHOOL_LOSE+TS_COUNTRY_VICTOR+TS_COUNTRY_DRAW
		+TS_COUNTRY_LOSE+TS_CITY_VICTOR+TS_CITY_DRAW+TS_CITY_LOSE+TS_PROVINCE_VICTOR+TS_PROVINCE_DRAW+TS_PROVINCE_LOSE+TS_OTHER_WIN+TS_OTHER_LOSS+TS_OTHER_ALL
		), 4)*100,2),"%")AS WINNING_RATIO,
		(TS_SCHOOL_VICTOR*3+TS_SCHOOL_DRAW*2+TS_SCHOOL_LOSE+TS_COUNTRY_VICTOR*3+TS_COUNTRY_DRAW*2
		+TS_COUNTRY_LOSE+TS_CITY_VICTOR*3+TS_CITY_DRAW*2+TS_CITY_LOSE+TS_PROVINCE_VICTOR*3+TS_PROVINCE_DRAW*2+TS_PROVINCE_LOSE+TS_OTHER_WIN*3+TS_OTHER_LOSS+TS_OTHER_ALL*2)
		as SCORE
		FROM
		TEAM
		LEFT JOIN TEAM_SCORE ON
		TEAM.TEAM_ID=TEAM_SCORE.TEAM_ID
		WHERE
		TEAM.TEAM_ID=#{teamID} and TS_STATUS=1 and TEAM_STATUS=1
		limit 1
	</select>
	<select id="coachTeamPlayerDetail" resultType="java.util.HashMap">
		SELECT 	
		DATE_FORMAT(P_BIRTHDAY,"%Y-%m-%d") P_BIRTHDAY,
		CURDATE() ,
		(year(now())-year(P_BIRTHDAY)-1) + ( DATE_FORMAT(P_BIRTHDAY, '%m%d') &lt;= DATE_FORMAT(NOW(), '%m%d') ) as P_AGE,
		P_SEX,
		P_POSITION,
		ACCOUNT.A_NAME,
		(SELECT
		(PS_PROVINE_WIN*3+PS_PROVINE_FLAT*2+PS_PROVINE_LOSE+PS_CITY_WIN*3+
		PS_CITY_FLAT*2+PS_CITY_LOSE+PS_COUNTY_WIN*3+PS_COUNTY_FLAT*2+PS_COUNTY_LOSE+
		PS_SCHOOL_WIN*3+PS_SCHOOL_FLAT*2+PS_SCHOOL_LOSE+PS_OTHER_WIN*3+PS_OTHER_LOSS+PS_OTHER_ALL*2) from PLAYER_SCORE
		where PLAYER_SCORE.P_ID=PLAYER.P_ID and PLAYER_SCORE.PS_STUTAS=1 ) as PLAYER_SCORE
		FROM PLAYER INNER JOIN ACCOUNT ON PLAYER.A_ID = ACCOUNT.A_ID 
		WHERE 
		PLAYER.P_ID
		IN (SELECT PLAYER.P_ID
		from TEAM
		JOIN MID_PLAYER_TEAM ON
		TEAM.TEAM_ID=MID_PLAYER_TEAM.TEAM_ID
		JOIN PLAYER ON PLAYER.P_ID
		=MID_PLAYER_TEAM.P_ID
		WHERE TEAM.TEAM_ID=#{teamID} AND PLAYER.P_STATUS=1 and  ACCOUNT.A_STATUS=1 and MID_PLAYER_TEAM.TEAM_PLAYER_STATUS=1);
	</select>
	<select id="coachMatchCount" resultType="java.lang.Integer">
		SELECT count(RACE_DETAILS.R_ID)
		FROM RACE_DETAILS
		join COMPETITION_NOTICE on COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
join  ORGANIZATION on COMPETITION_NOTICE.ORG_ID=ORGANIZATION.ORG_ID
join TEAM  on ORGANIZATION.ORG_ID=TEAM.ORG_ID
		WHERE
		TEAM.TEAM_ID=#{teamID} and RACE_DETAILS.R_STATUS=2  ;
	</select>
	<select id="coachMatchInfo" resultType="java.util.HashMap">
	
SELECT COMPETITION_NOTICE.COM_NAME,
		RACE_DETAILS.R_ID,
		TEAM.TEAM_ID,
		(SELECT TEAM_NAME from TEAM
		where TEAM.TEAM_ID= R_H_TEAM_ID ) as H_TEAM_NAME ,
		(SELECT TEAM_NAME
		from TEAM where TEAM.TEAM_ID= R_V_TEAM_ID ) as V_TEAM_NAME ,
		(R_REGULAR_H_T_S+R_OVERTIME_H_T_S+R_PENA_H_T_S) as R_REGULAR_H_T_S,
		(R_REGULAR_V_T_S+R_OVERTIME_V_T_S+R_PENA_V_T_S) as R_REGULAR_V_T_S,
		R_START_TIME,
		R_END_TIME
		FROM RACE_DETAILS
		join COMPETITION_NOTICE on COMPETITION_NOTICE.COM_ID=RACE_DETAILS.COM_ID
join  ORGANIZATION on COMPETITION_NOTICE.ORG_ID=ORGANIZATION.ORG_ID
join TEAM  on ORGANIZATION.ORG_ID=TEAM.ORG_ID
		WHERE
		TEAM_ID=#{teamID} and RACE_DETAILS.R_STATUS=2   limit #{index},#{size};
	</select>
	<!-- 比赛详情的第一个表有人数主客队和比分 -->
	<select id="getRaceScore" resultType="map">
SELECT 
		RACE_DETAILS.R_ID,
(SELECT COUNT(MID_PLAYER_TEAM.P_ID) FROM MID_PLAYER_TEAM
JOIN 		TEAM ON TEAM.TEAM_ID=MID_PLAYER_TEAM.TEAM_ID
WHERE TEAM.TEAM_ID=R_H_TEAM_ID ) AS H_TEAM_NUM,R_H_TEAM_ID,
(SELECT COUNT(MID_PLAYER_TEAM.P_ID) FROM MID_PLAYER_TEAM
JOIN 		TEAM ON TEAM.TEAM_ID=MID_PLAYER_TEAM.TEAM_ID
WHERE TEAM.TEAM_ID=R_V_TEAM_ID ) AS V_TEAM_NUM,R_V_TEAM_ID,
		(SELECT TEAM_NAME from TEAM
		where TEAM.TEAM_ID= R_H_TEAM_ID ) as H_TEAM_NAME ,
		(SELECT TEAM_NAME
		from TEAM where TEAM.TEAM_ID= R_V_TEAM_ID ) as V_TEAM_NAME ,
		(R_REGULAR_H_T_S+R_OVERTIME_H_T_S+R_PENA_H_T_S) as R_REGULAR_H_T_S,
		(R_REGULAR_V_T_S+R_OVERTIME_V_T_S+R_PENA_V_T_S) as R_REGULAR_V_T_S
		FROM RACE_DETAILS
		WHERE
		   RACE_DETAILS.R_ID=#{raceID} 
   and RACE_DETAILS.R_STATUS=2
   limit 1
	</select>
	<!-- 警告人员名单 -->
	<select id="getRaceWarning" resultType="java.util.HashMap">
	SELECT
	W_NAME,
	W_NUM,
	W_REASON,
	R_H_TEAM_ID,
	R_V_TEAM_ID,
	W_TEAM
		FROM RACE_DETAILS
		join 
		`WARNINGS`   on `WARNINGS`.R_ID=RACE_DETAILS.R_ID
		WHERE
		RACE_DETAILS.R_ID=#{raceID} and `WARNINGS`.W_STATUS=1 and RACE_DETAILS.R_STATUS=2
	</select>
	<!-- 罚出人员名单 -->
	<select id="getRaceSendOff" resultType="java.util.HashMap">
	SELECT 
	S_NAME,
	S_NUM,
	S_REASON,
	R_H_TEAM_ID,
	R_V_TEAM_ID,
	S_TEAM
    FROM RACE_DETAILS
	JOIN  SEND_OFF ON SEND_OFF.R_ID=RACE_DETAILS.R_ID
		WHERE
		RACE_DETAILS.R_ID=#{raceID}  and SEND_OFF.S_STATUS=1 and RACE_DETAILS.R_STATUS=2
	</select>
	<!-- 红牌，罚球，错判情况 -->
	<select id="getRacePunish" resultType="java.util.HashMap">
		SELECT 
		R_RED_C_TEXT,
		R_PENA_TEXT,
		R_WRONG_TEXT
		FROM RACE_DETAILS
		WHERE
		RACE_DETAILS.R_ID=#{raceID}  and RACE_DETAILS.R_STATUS=2
	</select>
</mapper>