<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-Frame-Options" content="deny">
    <title>赛事直播</title>
    <link rel="stylesheet" href="static/h-ui/css/H-ui.reset.css">
    <link rel="stylesheet" href="static/h-ui/css/H-ui.min.css">
    <link rel="stylesheet" href="assets/css/livePage.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <script type="text/javascript" src="lib/PIE_IE678.js"></script>
    <![endif]-->
</head>
<body>
<div class="livePage box-shadow">
<button onclick="myprependTo()" class="btn btn-success radius">add</button>
    <div class="live-wrap ">
        <div class="live-head">
            <h2 class="live-head-title c-white">皇家东软联赛</h2>
        </div>
        <div class="live-info">
            <div class="live-team f-l text-c">
                <a><img src="assets/img/IMG_3498.JPG" alt="" class="avatar size-XXXL ml-10 box-shadow"></a>
                <a><h4 class="text-c c-white mt-30"><strong class="c-primary">主&nbsp;队:</strong>皇家东软东软队</h4></a>
            </div>
            <div class="live-score f-l hui-fadein">
                <h1 class="text-c text-shadow">13<strong>&nbsp;:&nbsp;</strong>10</h1>
                <h4 class="live-head-place c-success text-l text-c mt-20">成都东软学院</h4>
                <h5 class="live-head-time c-999 text-r f-l mt-20 ml-40">开始时间：2016-1-28 14:00</h5>
                <h5 class="live-head-time c-999 text-r f-r mt-20 mr-40">结束时间：2016-1-28 14:00</h5>
            </div>
            <div class="live-team f-r text-c">
                <a><img src="assets/img/IMG_3498.JPG" alt="" class="avatar size-XXXL ml-10 box-shadow"></a>
                <a><h4 class="text-c c-white mt-30"><strong class="c-error">客&nbsp;队:</strong>皇家东软队</h4></a>
            </div>
        </div>
    </div>
    <div class="live-content pt-20 pb-20 mt-50 mb-50">
        <div class="live-mod live-warn pos-r hui-fadeinB">
            <em class="live-warn-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-warning"><strong>17:30</strong></div>
            <div class="live-warn-area">
                <div class="live-text f-20 pb-20 c-warning">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    <br>
                    <img src="assets/img/C271A1A7-496E-4BD2-B680-32280BB52CD7.png">
                </div>
            </div>
        </div>
        <div class="live-mod live-goal mt-20 pos-r hui-fadeinB">
            <em class="live-goal-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-success"><strong>17:30</strong></div>
            <div class="live-goal-area">
                <div class="live-text f-18 pb-20 c-success">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    <br>
                    <img src="assets/img/u=1436011941,4049252723&fm=214&gp=0.jpg">
                </div>
            </div>
        </div>
        <div class="live-mod live-red pos-r hui-fadeinB">
            <em class="live-red-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-red"><strong>17:30</strong></div>
            <div class="live-red-area">
                <div class="live-text f-20 pb-20 c-red">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                </div>
            </div>
        </div>
        <div class="live-mod live-yellow pos-r hui-fadeinB">
            <em class="live-yellow-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-orange"><strong>17:30</strong></div>
            <div class="live-yellow-area">
                <div class="live-text f-20 pb-20 c-orange">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod live-warn pos-r hui-fadeinB">
            <em class="live-warn-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-warning"><strong>17:30</strong></div>
            <div class="live-warn-area">
                <div class="live-text f-20 pb-20 c-warning">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    <br>
                    <img src="assets/img/5835775e69401b347e0b5c1b.jpg">
                </div>
            </div>
        </div>
        <div class="live-mod live-goal mt-20 pos-r hui-fadeinB">
            <em class="live-goal-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-success"><strong>17:30</strong></div>
            <div class="live-goal-area">
                <div class="live-text f-18 pb-20 c-success">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    <br>
                    <img src="assets/img/u=1436011941,4049252723&fm=214&gp=0.jpg">
                </div>
            </div>
        </div>
        <div class="live-mod live-red pos-r hui-fadeinB">
            <em class="live-red-em pos-a round"></em>
            <div class="live-time f-20 pos-a  c-red"><strong>17:30</strong></div>
            <div class="live-red-area">
                <div class="live-text f-20 pb-20 c-red">
                    <strong>
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                        在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    </strong>
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20 c-red">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                </div>
            </div>
        </div>
        <div class="live-mod pos-r hui-fadeinB" id="new">
            <em class="live-normal-em pos-a round"></em>
            <div class="live-time f-20 pos-a">17:30</div>
            <div class="live-normal-area">
                <div class="live-text f-18 pb-20">
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                    在刚结束的比赛中AG以2:1战胜SV拿下赛季首胜。最后一局上TD，AG凭借一个人头的优势战胜SV。对于SV来说有点遗憾
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="application/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="application/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript">
function myprependTo(){

	$("#new").prependTo(".live-content");   //将id为new的div 添加到  类为live-content的div 内部的第一个
}

</script>
</html>
