<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:property-placeholder location="classpath:properties/db.properties" ignore-unresolvable="true"/>

    <bean class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close"
          id="dataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://${db.ip}:3306/${db.name}?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 在使用mybatis时 spring使用sqlsessionFactoryBean 来管理mybatis的sqlsessionFactory-->
    <!-- 创建sqlsessionFactory 并指定数据源  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描mappers.xml文件 -->
        <property name="mapperLocations">
            <list>
                <value>classpath*:cn/edu/nsu/lib/mapper/*.xml</value>
                <!--<value>classpath*:cn/edu/nsu/lib/mapper/*/*.xml</value>-->
                <!--<value>classpath*:cn/edu/nsu/lib/mapper/*/*/*.xml</value>-->
            </list>
        </property>
        <!--mybatis配置-->
        <!--<property name="configLocation" value="WEB-INF/mybatis/config.xml"/>-->
        <!--sql映射-->
        <!--<property name="mapperLocations" value="classpath:cn/inkroom/web/images/dao/*.xml"/>-->
    </bean>

    <bean factory-bean="sqlSessionFactory" factory-method="openSession" id="sqlSession"/>

    <!--这个类启动mybatis注解-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 这里指定了要扫描的映射接口的路径 -->
        <property name="basePackage" value="cn.edu.nsu.lib.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- 文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="15249432000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

</beans>