<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.dao.team.TeamMatchInfoDao">
<!-- 查询一个团队的所有赛事 -->
	<select id="MatchAllInfo" parameterType="java.lang.Object" resultType="com.nsu.bean.team.TeamMatchBean" >
		SELECT COM_NAME,COM_TYPE,COM_LEVEL,COM_ORGAZITION,COM_START,COM_END,TEAM_COM_STATUS,COMPETITION_NOTICE.COM_ID AS comID,COM_GROUNP
		FROM  COMPETITION_NOTICE 
		LEFT JOIN MID_TEAM_COM ON COMPETITION_NOTICE.`COM_ID` = MID_TEAM_COM.`COM_ID` 
		WHERE TEAM_ID = #{TEAM_ID} AND TEAM_COM_STATUS=1 ORDER BY COM_START DESC
		limit #{startIndex},#{pageSize}
	 </select>
		
<!-- 查询一个团队的所有赛事总数 -->
    <select id="MatchAllInfoNum" parameterType="java.lang.String" resultType="int" > 
	    SELECT COUNT(*)
		FROM  COMPETITION_NOTICE 
		LEFT JOIN MID_TEAM_COM ON COMPETITION_NOTICE.COM_ID = MID_TEAM_COM.COM_ID 
		WHERE TEAM_ID = #{TEAM_ID} 
   </select>

   <!-- 根据赛事名称查询一个团队的所有赛事 -->
	<select id="MatchAllInfoByName" parameterType="java.lang.String" resultType="com.nsu.bean.team.TeamMatchBean" >
		SELECT COM_NAME,COM_TYPE,COM_LEVEL,COM_ORGAZITION,COM_START,COM_END,TEAM_COM_STATUS,COMPETITION_NOTICE.COM_ID AS comID,COM_GROUNP
		FROM  COMPETITION_NOTICE 
		LEFT JOIN MID_TEAM_COM ON COMPETITION_NOTICE.`COM_ID` = MID_TEAM_COM.`COM_ID` 
		WHERE TEAM_ID = #{TEAM_ID} AND COM_NAME=#{C_NAME} AND TEAM_COM_STATUS=1
	 </select>
   
    

  <!-- 根据赛事名称赛程详情 -->
	<select id="MatchInfoByName" parameterType="java.lang.String" resultType="com.nsu.bean.team.ScheduleBean" >
        SELECT COMPETITION_NOTICE.COM_ID,COM_NAME,RACE_DETAILS.R_ID rID, DATE_FORMAT(R_START_TIME, '%Y-%c-%e %k:%i') sTime, DATE_FORMAT(R_END_TIME, '%Y-%c-%e %k:%i') eTime, R_H_TEAM_ID rHTeamID, R_V_TEAM_ID rVTeamID
		, RACE_DETAILS.R_REGULAR_H_T_S RE_WIN, RACE_DETAILS.R_OVERTIME_H_T_S OV_WIN, RACE_DETAILS.R_PENA_H_T_S PE_WIN,RACE_DETAILS.R_REGULAR_V_T_S RE_FAILE
		, RACE_DETAILS.R_OVERTIME_V_T_S OV_FAILE, RACE_DETAILS.R_PENA_V_T_S PE_FAILE,
		(SELECT TEAM.TEAM_NAME FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID AND TEAM_STATUS=1) rVTeamName,
		(SELECT TEAM.TEAM_NAME FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID AND TEAM_STATUS=1) rHTeamName,
		(SELECT TEAM.TEAM_FLAG FROM TEAM WHERE TEAM_ID=R_V_TEAM_ID AND TEAM_STATUS=1) rVTeamFlag,
		(SELECT TEAM.TEAM_FLAG FROM TEAM WHERE TEAM_ID=R_H_TEAM_ID AND TEAM_STATUS=1) rHTeamFlag
		FROM COMPETITION_NOTICE
		LEFT JOIN RACE_DETAILS ON COMPETITION_NOTICE.COM_ID = RACE_DETAILS.COM_ID 
		LEFT JOIN MID_TEAM_RACE ON RACE_DETAILS.R_ID = MID_TEAM_RACE.R_ID
		LEFT JOIN TEAM ON MID_TEAM_RACE.TEAM_ID = TEAM.TEAM_ID
		WHERE (R_V_TEAM_ID=#{TEAM_ID} OR R_H_TEAM_ID=#{TEAM_ID}) AND COM_NAME=#{C_NAME}
	</select>	
	
	<!-- list查询主队警告，罚出人员 -->
	<select id="MatchHomeTeamList" parameterType="java.lang.String" resultType="com.nsu.bean.team.TeamMatchBean" >
	    SELECT COMPETITION_NOTICE.`COM_ID` comID, S_NAME,S_NUM,S_REASON,W_NAME,W_NUM,W_REASON
		FROM COMPETITION_NOTICE
		LEFT JOIN RACE_DETAILS ON COMPETITION_NOTICE.COM_ID =  RACE_DETAILS.COM_ID
		LEFT JOIN SEND_OFF ON RACE_DETAILS.R_H_TEAM_ID = SEND_OFF.`S_TEAM`
		LEFT JOIN `WARNINGS` ON SEND_OFF.`S_TEAM` = `WARNINGS`.`W_TEAM`
		WHERE RACE_DETAILS.`R_ID` = #{R_ID}
	</select>	
	
	
		<!-- list查询客队警告，罚出人员 -->
	<select id="MatchVisitTeamList" parameterType="java.lang.String" resultType="com.nsu.bean.team.TeamMatchBean" >
	    SELECT COMPETITION_NOTICE.`COM_ID` comID, S_NAME,S_NUM,S_REASON,W_NAME,W_NUM,W_REASON
		FROM COMPETITION_NOTICE
		LEFT JOIN RACE_DETAILS ON COMPETITION_NOTICE.COM_ID =  RACE_DETAILS.COM_ID
		LEFT JOIN SEND_OFF ON RACE_DETAILS.R_V_TEAM_ID = SEND_OFF.`S_TEAM`
		LEFT JOIN `WARNINGS` ON SEND_OFF.`S_TEAM` = `WARNINGS`.`W_TEAM`
		WHERE RACE_DETAILS.`R_ID` = #{R_ID}
	</select>
	

	<!-- 主队人数，比分 -->
	<select id="MatchHomeTeamGrade" parameterType="java.lang.String" resultType="com.nsu.bean.team.TeamMatchBean" >
        SELECT (SELECT COUNT(*) FROM MID_TEAM_RACE WHERE MID_TEAM_RACE.R_ID = #{R_ID} AND CHECK_IDCARD=1 AND TEAM_ID IN (SELECT R_H_TEAM_ID FROM RACE_DETAILS WHERE R_ID = #{R_ID})) TEA_NUM,
		R_REGULAR_H_T_S,R_OVERTIME_H_T_S,R_PENA_H_T_S
		FROM COMPETITION_NOTICE
		LEFT JOIN RACE_DETAILS ON COMPETITION_NOTICE.`COM_ID` = RACE_DETAILS.`COM_ID`
		WHERE RACE_DETAILS.`R_ID` = #{R_ID} limit 1
	</select>	
	
	<!-- 客队人数，比分-->
	<select id="MatchVisitTeamGrade" parameterType="java.lang.String" resultType="com.nsu.bean.team.TeamMatchBean" >
	    SELECT (SELECT COUNT(*) FROM MID_TEAM_RACE WHERE MID_TEAM_RACE.R_ID = #{R_ID} AND CHECK_IDCARD=1 AND TEAM_ID IN (SELECT R_V_TEAM_ID FROM RACE_DETAILS WHERE R_ID = #{R_ID})) TEA_NUM,
		R_REGULAR_V_T_S,R_OVERTIME_V_T_S,R_PENA_V_T_S
		FROM COMPETITION_NOTICE
		LEFT JOIN RACE_DETAILS ON COMPETITION_NOTICE.`COM_ID` = RACE_DETAILS.`COM_ID`
		WHERE RACE_DETAILS.`R_ID` = #{R_ID} limit 1
	</select>	
	
	
	<!-- 犯规说明 -->
	<select id="MatchErrorInfo" parameterType="java.lang.String" resultType="com.nsu.bean.team.TeamMatchBean" >
		SELECT R_ID,R_RED_C_TEXT,R_PENA_TEXT,R_WRONG_TEXT FROM RACE_DETAILS WHERE R_ID = #{R_ID} limit 1
	</select>	
	
	<!-- 赛事赛程条数 -->
	<select id="MatchComNum" parameterType="java.lang.String" resultType="int" >
			SELECT COUNT(*) FROM RACE_DETAILS 
			WHERE COM_ID=#{COM_ID} AND R_STATUS=1 AND (R_V_TEAM_ID=#{TEAM_ID} OR R_H_TEAM_ID=#{TEAM_ID})
<!-- 		SELECT DISTINCT COUNT(*) LJL-->
<!-- 		FROM  SCENE -->
<!-- 		LEFT JOIN RACE_DETAILS ON RACE_DETAILS.`R_ID` = SCENE.`R_ID` -->
<!-- 		LEFT JOIN COMPETITION_NOTICE ON(COMPETITION_NOTICE.COM_ID = RACE_DETAILS.COM_ID) -->
<!-- 		LEFT JOIN MID_TEAM_RACE ON SCENE.R_ID = MID_TEAM_RACE.R_ID -->
<!-- 		WHERE (R_V_TEAM_ID=#{TEAM_ID} OR R_H_TEAM_ID=#{TEAM_ID}) AND COMPETITION_NOTICE.COM_ID=#{COM_ID} -->

<!-- 		SELECT DISTINCT COUNT(*) HRD-->
<!-- 			FROM COMPETITION_NOTICE -->
<!-- 			LEFT JOIN RACE_DETAILS ON COMPETITION_NOTICE.COM_ID = RACE_DETAILS.COM_ID  -->
<!-- 			LEFT JOIN SCENE ON RACE_DETAILS.`R_ID` = SCENE.`R_ID` -->
<!-- 			LEFT JOIN MID_TEAM_RACE ON SCENE.R_ID = MID_TEAM_RACE.R_ID -->
<!-- 			LEFT JOIN TEAM ON MID_TEAM_RACE.TEAM_ID = TEAM.TEAM_ID -->
<!-- 			WHERE (R_V_TEAM_ID=#{TEAM_ID} OR R_H_TEAM_ID=#{TEAM_ID}) AND COMPETITION_NOTICE.COM_ID=#{COM_ID} -->
	</select>	
	
	
	
</mapper>