<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.dao.common.ForgetPasswordDao">
	
	<select id="getUsernameById" parameterType="String" resultType="int" >
		SELECT count(*) from ACCOUNT WHERE A_USERNAME = #{username} AND A_STATUS = 1 AND A_TYPE=#{type}
	</select>
	
	<select id="getUsernameInfoById" parameterType="String" resultType="map" >
		SELECT A_ID,A_PHONE,A_EMAIL,A_TYPE,A_USERNAME FROM ACCOUNT WHERE A_USERNAME = #{username} AND A_STATUS = 1 AND A_TYPE=#{type} limit 1
	</select>
	
	<update id="updateUsernamePassword" parameterType="java.util.HashMap">
		UPDATE  ACCOUNT SET	 A_PASSWORD = #{PASSWORD} WHERE A_USERNAME = #{USERNAME} AND A_STATUS = 1 AND A_TYPE=#{A_TYPE}
	</update>
	
	<update id="updateEmailCode" parameterType="java.util.HashMap">
		UPDATE  ACCOUNT SET	 A_EMAIL_CHECK_CODE = #{code} WHERE A_USERNAME = #{A_USERNAME} AND A_STATUS = 1 AND A_TYPE=#{A_TYPE}
	</update>
	
	<select id="getUsernameEmail" parameterType="String" resultType="map" >
		SELECT A_USERNAME FROM ACCOUNT WHERE A_EMAIL = #{email} limit 1
	</select>
	
	<select id="getEmailCode" parameterType="String"  resultType="String" >
		SELECT A_EMAIL_CHECK_CODE FROM ACCOUNT WHERE A_USERNAME = #{A_USERNAME} AND A_STATUS = 1 AND A_TYPE=#{type} limit 1
	</select>
	
</mapper>