<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.nsu.lib.dao.leader.LeaderManagerDao">
    <resultMap type="cn.edu.nsu.lib.bean.leader.LLabBean" id="labMap">
        <!-- 实验室信息 -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="lab_describe" property="labDescribe"/>
        <result column="qq_group" property="qqGrop"/>
        <result column="address" property="address"/>
    </resultMap>
    <select id="getLabInfoList" statementType="PREPARED" resultMap="labMap">
        SELECT * FROM  lab
    </select>

</mapper>