<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName" default-merge="true">

	<bean id="pror" class="com.nsu.handlers.PropertiesPlaceholder">
		<property name="ignoreResourceNotFound" value="true"/>
		<!--<property name="location" value="properties/upload.properties"/>-->
		<property name="locations">
			<list>
				<value>classpath*:upload.properties</value>
			</list>
		</property>
		<!--<property name="locations" value="properties/upload.properties"/>-->
	</bean>
</beans>
