<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName" default-merge="true">

	<bean id="serviceManager" class="javadev.iip.service.ServiceManager" />

	<!--cj here 这里是修改配置文件的示例，就像下面那样增加自己的Service -->
	<bean id="userService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.UserService" />
		</property>
	</bean>
	
	<bean id="isPassService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.IsPassService" />
		</property>
	</bean>
	
	
	<bean id="repostFormService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.test.RepostFormService" />
		</property>
	</bean>
	
	<bean id="sportFirstService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.sport.SportFirstService" />
		</property>
	</bean>
	
	<bean id="sportSecondService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.sport.SportSecondService" />
		</property>
	</bean>
	
	<bean id="sportThirdService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.sport.SportThirdService" />
		</property>
	</bean>
	
	
	
	<bean id="artFirstService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.art.ArtFirstService" />
		</property>
	</bean>
	<bean id="artSomeService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.art.ArtSomeService" />
		</property>
	</bean>
	
	<bean id="artSecondService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.art.ArtSecondService" />
		</property>
	</bean>
	
	<bean id="artThirdService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.art.ArtThirdService" />
		</property>
	</bean>
	
	<bean id="artFourthService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.art.ArtFourthService" />
		</property>
	</bean>
	
	<bean id="otherService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.OtherService" />
		</property>
	</bean>
	
	<bean id="sportReportBySelfService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.sport.SportReportBySelfService" />
		</property>
	</bean>
	
	<bean id="artEndService" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.art.ArtEndService" />
		</property>
	</bean>
	<bean id="sportEndServive" parent="baseTxService">
		<property name="target">
			<bean class="javadev.iip.service.sport.SportEndServive" />
		</property>
	</bean>
	
	
	
	
	
	
	

</beans>
