<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="assets/css/findPassword.css">
</head>
<body>
<div class="pro-head">
    <div class="pro-box">
        <ul class="process">
            <li class="active">
                <div>
                    <i>1</i>
                    <p>填写帐号</p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                    <i>2</i>
                    <p>身份验证</p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                    <i>3</i>
                    <p>设置新密码</p>
                </div>
                <i></i>
            </li>
            <li class="last">
                <div>
                    <i>4</i>
                    <p>完成</p>
                </div>
            </li>
        </ul>
    </div>
</div>
    <div class="pro1-main">
    <div class="pro1-content">
        <div class="pro-input">
            <label>帐号：</label>
            <div>
                <div class="inputbox">
                    <input class="inputerror" type="text" placeholder="邮箱/手机号">
                </div>
                
            </div>
        </div>
        <div class="pro-input">
            <label>验证码：</label>
            <div>
                <div class="inputbox">
                    <input type="text" placeholder="验证码">
                </div>
                <div class="vercode"  id="">
                    <img src="assets/img/IMG_3498.JPG" alt="">
                </div>
                <div class="tips-error code-error" style="display: none;">
                    <div>
                        <span>验证码错误</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro-input">
            <a class="pro-btn" href="findPassword2.html" style="margin-top:10px"><span>确定</span></a>
        </div>
    </div>
</div>
</body>
</html>