* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
#bg{
    width: 1349px;
    min-width: 1349px;
    height: 3121px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.content{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.logo{
    height: 100px;
    line-height: 100px;
    width: auto;
   margin: 28px 35px;
}
.logo img{
    height: 80px;
    line-height: 100px;
    width: auto;
    float: left;
}
.logo span{
    float: left;
    margin-left: -214px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 190px;
    height: 50px;
    line-height: 50px;
    color: rgb(70,70,70);
    letter-spacing: 1px;
}
/*导航菜单*/
.nav{
    height: 75px;
    width: 1200px;
    margin: 0 auto;
}
.nav ul li {
    float: left;
    list-style: none;
}
.nav ul li a {
    width: 100px;
    height: 55px;
    display: block;
    color: #FFf;
    font-size:1em;
    text-align: center;
    line-height: 35px;
    text-indent: 25px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin: 20px 11px 0 11px;
}
.nav ul li a:hover ,.nav ul li:focus a{
    transform: scale(1.3);
    text-decoration: none;
    font-size: 1.1em;
}
/*.nav ul li:nth-child(1) a {*/
    /*background: url("img/home.png") no-repeat;*/
    /*background-size: 135px 68px;*/
    /*width: 135px;*/
    /*height: 68px;*/
    /*line-height: 45px;*/
    /*font-size: 1.9em;*/
    /*margin-top: 10px;*/
/*}*/
/*.nav ul li:nth-child(1) a:hover{*/
    /*transform:scale(1);*/
/*}*/
.nav ul li:nth-child(1) a {
    background: url("../img/home.png");
    background-size: 100px 55px;
}
.nav ul li:nth-child(2) a {
    background: url("../img/menu.png") 0px 0;
    background-size: 200px 220px;
}
.nav ul li:nth-child(3) a {
    background: url("../img/menu.png") -100px 0;
    background-size: 200px 220px;
}
.nav ul li:nth-child(4) a {
    background: url("../img/menu.png") 0px -55px;
    background-size: 200px 220px;
}
.nav ul li:nth-child(5) a {
    background: url("../img/menu.png") -100px -55px;
    background-size: 200px 220px;
}
.nav ul li:nth-child(6) a {
    background: url("../img/menu.png") 0px -165px;
    background-size: 200px 220px;
}
.nav ul li:nth-child(7) a {
    background: url("../img/menu.png") -100px -165px;
    background-size: 200px 220px;
}
.nav ul li:nth-child(8) a {
    background: url("../img/menu.png") 0px -110px;
    background-size: 200px 220px;
}
.nav ul li:nth-child(9) a {
    background: url("../img/menu.png") -100px -110px;
    background-size: 200px 220px;
}
.nav ul li:nth-child(10) a {
    background: url("../img/button.png");
    background-size: 100px 55px;
}
/*导航菜单END*/
/*banner*/
#carousel-example-generic{
    width: 920px;
    margin: 30px auto;
}
#carousel-example-generic img{
    width: 920px;
    height: 500px;
}
/*banner END*/
/*模块*/
.info,.tui,.zqts,.ysts{
    width: 920px;
    height: 350px;
    position: relative;
}
.info{
    margin: 95px auto;
}
.tui{
    margin: -50px auto;
}
.ysts{
    margin: 80px  auto 0 auto;
}
.zqts{
    margin: -30px auto;
}
.info ul,.zqts ul{
    width: 490px;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}
.tui ul,.ysts ul{
    float: left;
    width: 490px;
    margin-top: 40px;
    margin-left: 20px;
}
.info ul li,.tui ul li,.zqts ul li,.ysts ul li{
    border-bottom: 1px solid rgb(153,153,153);
    margin-bottom: 10px;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
}
.info ul li a,
.tui  ul li a,
.zqts ul li a,
.ysts ul li a{
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    width: 400px;
    float: left;
    text-decoration: none;
    color: black;
}
.info ul li span,
.tui ul li span,
.zqts ul li span,
.ysts  ul li span{
    font-size: 10px;
    color: rgb(153,153,153);
    float:right;
}
.info ul p a,
.tui ul p a,
.zqts ul p a,
.ysts ul p a{
    font-size: 10px;
    color: rgb(153,153,153);
    float:right;
    text-decoration: none;
}
.info ul li:hover,
.tui ul li:hover,
.zqts ul li:hover,
.ysts ul li:hover{
    background-color: rgba(141, 141, 142,0.12);
}
.info ul  a:hover,
.tui ul a:hover,
.zqts ul  a:hover,
.ysts ul  a:hover{
    color: #0a6aa1;
    text-decoration: underline;
}
.info ul li:before,
.tui ul  li:before,
.zqts ul li:before,
.ysts ul li:before{
    content: url("../img/jiantou.png");
    float: left;
    width: 30px;
    height: 20px;
}
.info ul li:hover:before,
.tui ul  li:hover:before,
.zqts ul li:hover:before,
.ysts ul li:hover:before{
    content: url("../img/jiantou1.png");
    float: left;
    width: 30px;
    height: 20px;
    margin-left: 10px;
}
.info img ,.zqts img{
    position: absolute;
    left: 50px;
    box-shadow: 5px 5px 5px 0.5px rgba(47, 47, 47, 0.46);
}
.tui img,.ysts img{
    position: absolute;
    right: 40px;
    box-shadow: 5px 5px 5px 0.5px rgba(47, 47, 47, 0.46);
}
.video{
    width: 1120px;
    height: 321px;
    position: relative;
    margin: 83px auto;
}
.video>div {
    float: left;
    width: 330px;
    height: 220px;
    position: relative;
    margin: 50px 21px;
    cursor: pointer;
}
.video>div img{
    box-shadow: 5px 5px 5px 1px rgba(47, 47, 47, 0.46);
    width: 322px;
}
.video>div span{
    font-size: 3em;
    color: #FFF;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 0px;
    opacity: 0;
}
.video>div img.mask{
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
}
.video>div:hover img.mask,.video>div:hover span{
    bottom: 50px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*模块END*/
.ad{
     width: 1200px;
    margin: 30px auto;
    overflow: hidden;
}
ul{
    width: 2100px;
}
.ad ul li{
    list-style: none;
    float: left;
}
