<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- spring params -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/*.xml</param-value>
	</context-param>

	<!-- spring context loader -->

	<!-- cj here -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
    <!-- XSS filter -->
    <filter>
        <filter-name>safer</filter-name>
        <filter-class>javadev.iip.filter.SafeFilter</filter-class>
    </filter>

	<!-- struts2 core filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<!-- javadev bean manager loader -->
	<listener>
		<listener-class>javadev.core.bean.BeanManagerListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>javadev.iip.listener.SessionListener</listener-class>
	</listener>
	
	<!-- xss filter mapping -->
	<filter-mapping>
		<filter-name>safer</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	
	<!-- struts core filter mapping -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	 
	<!-- JSP Support Servlet for tag in freemarker -->
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
		<!-- FreemarkerServlet 设置: -->
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html; charset=UTF-8</param-value>
			<!-- 强制使用 UTF-8作为输出编码格式! -->
		</init-param>
		<!-- FreeMarker 设置: -->
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>60000</param-value>
			<!-- 0 只对开发使用! 否则使用大一点的值. -->
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
			<!-- 模板文件的编码方式. -->
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	
	<!-- 为了阻止从Servlet容器外部访问MVC的视图层组件。 RequestDispatcher.forward/include应该起到作用。 
		移除下面的代码可能开放安全漏洞! -->
	<!-- -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>FreeMarker MVC Views</web-resource-name>
			<url-pattern>*.ftl</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- 不允许任何人访问这里 -->
		</auth-constraint>
	</security-constraint>

	<!-- default start file -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>